@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Jersey 10";
  src: url("../assets/fonts/Jersey10-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ZCOOL QingKe HuangYou";
  src: url("../assets/fonts/ZCOOLQingKeHuangYou-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

html body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Jersey 10","ZCOOL QingKe HuangYou",sans-serif;
}
